
    <span class="close">&times;</span>
    <h2>עריכת תיעוד</h2>
    <form id="edit-reference-form">
        <label for="id_buyer">:תעודת זהות קונה</label>
        <input type="text" id="edit_id_buyer" name="id_buyer" readonly>

        <label for="tran_num">:מספר טרנזקציה</label>
        <input type="text" id="edit_tran_num" name="tran_num" readonly>

        <label for="tran_date">:תאריך טרנזקציה</label>
        <input type="date" id="edit_tran_date" name="tran_date" readonly>

        <label for="tran_sum">:סכום טרנזקציה</label>
        <input type="text" id="edit_tran_sum" name="tran_sum" readonly>

        <label for="id_seller">:תעודת זהות מוכר</label>
        <input type="text" id="edit_id_seller" name="id_seller" >

        <label for="ref_num">:מספר אסמכתא</label>
        <input type="text" id="edit_ref_num" name="ref_num" >

        <label for="ref_date">:תאריך העברה</label>
        <input type="date" id="edit_ref_date" name="ref_date" >

        <label for="ref_sum">:סכום האסמכתא</label>
        <input type="text" id="edit_ref_sum" name="ref_sum"   min="0.1" step="any">

        <input type="file" name="file_ref" id="file_ref_edit"> 

        <button type="submit">עדכן אסמכתא</button>
    </form>
    <button  id="delete-trans">מחק טרנזקציה</button>
